########################################################################################
# Bifrost
########################################################################################
# trunk-ignore-all(codespell/misspelled)
bifrost:
  # leveldb defaults to start, plus 10 bit per key filter
  observer_leveldb: &default-leveldb
    filter_bits_per_key: 10
    compaction_table_size_multiplier: 1
    write_buffer: 4194304
    block_cache_capacity: 8388608
    compact_on_init: true
  observer_workers: 0

  metrics:
    enabled: true
    pprof_enabled: false
    listen_port: 9000
    read_timeout: 30s
    write_timeout: 30s
    chains:
      - BCH
      - BTC
      - ETH
      - BSC
      - BASE
  map_relay:
    chain_id: map
    chain_host: https://testnet-rpc.maplabs.io
    signer_name: "first_cosmos"
    keystore_path: "./keystore/UTC--2025-07-30T07-55-30.878196000Z--25fa71d4f689f4b65eb6d020a414090828281d51"
    maintainer: "0x60c2e5bd5b785910424C48098292Ab410884B5ad"
    tss_manager: "0x650e730F93AFC4ea7d2724D5237a4292aEF49F78"
    relay: "0x42D64eD9381bF456697b0C360e8acE139F176a80"
    gas_service: "0xf9A825A2B9d62550610cDC5a9d05417bC35FF524"
    token_registry: "0xF67db5535c337261e4EFff49ed956397e8F00078"
    view_controller: "0xb79bAe710F69f5D9B53098aB16B57A26a762c7BF"
    addr: ""
    cross_data_path: "./build/cross_dbs"
    cross_data_address: "0.0.0.0:6041"
  signer:
    backup_keyshares: true
    signer_db_path: ./build/signer_db
    retry_interval: 2s
    reschedule_buffer_blocks: 150 # 15 minutes
    block_scanner:
      chain_id: map
      start_block_height: 0
      block_retry_interval: 10s
      block_height_discover_back_off: 5s
      block_scan_processors: 1
      start_block: 17243301
      http_request_timeout: 30s
      http_request_read_timeout: 30s
      http_request_write_timeout: 30s
      max_http_request_retry: "10"
      max_gas_limit: 100000
      max_swap_gas_limit: 150000
    leveldb: *default-leveldb
    keygen_timeout: 5m
    keysign_timeout: 45s
    party_timeout: 45s
    pre_param_timeout: 5m
  tss:
    rendezvous: asgard
    p2p_port: 5040
    info_address: 0.0.0.0:6040
    bootstrap_peers:
      - 10.0.3.51
      - 10.0.3.39
      - 10.0.3.31
    external_ip: ""
    max_keyshare_recover_scan_blocks: 100
  chains:
    btc: &default-chain
      disabled: false
      chain_id: BTC
      username:
      password:
      http_post_mode: 1
      disable_tls: 1
      parallel_mempool_scan: 5
      mempool_tx_id_cache_size: 1_000_000
      scanner_leveldb:
        <<: *default-leveldb
        compaction_table_size_multiplier: 10
        write_buffer: 20971520 # 20mb
        block_cache_capacity: 536870912 # 512mb
      min_confirmations: 0
      max_rpc_retries: 9 # about 1 min
      max_pending_nonces: 0
      authorization_bearer: ""
      max_gas_tip_percentage: 0
      token_max_gas_multiplier: 0
      aggregator_max_gas_multiplier: 0
      utxo: &utxo
        block_cache_count: 144
        transaction_batch_size: 500
        max_mempool_batches: 10
        estimated_average_tx_size: 1000
        estimated_average_tx_swap_size: 2000
        default_min_relay_fee_sats: 1000
        default_sats_per_vbyte: 25
        max_sats_per_vbyte: 9765 # backwards compatible with 1e8/10/1024
        min_sats_per_vbyte: 2
        min_utxo_confirmations: 1
        max_utxos_to_spend: 10
      block_scanner: &default-block-scanner
        max_reorg_rescan_blocks: 72 # 12h
        chain_id: BTC
        enforce_block_height: false
        block_scan_processors: 1
        block_height_discover_back_off: 5s
        observation_flexibility_blocks: 3
        block_retry_interval: 10s
        http_request_timeout: 30s
        http_request_read_timeout: 30s
        http_request_write_timeout: 30s
        max_http_request_retry: 10
        db_path: ./build/observer
        scan_mempool: true
        max_contract_tx_logs: 0
        # the following defaults must be defined to override with environment
        start_block_height: 263889
        cosmos_grpc_tls: false
        gas_cache_blocks: 0
        whitelist_tokens: []
        whitelist_cosmos_assets: []
        concurrency: 0
        max_gas_limit: 1000000
        max_swap_gas_limit: 1500000
        fixed_gas_rate: 0
        gas_price_resolution: 10_000_000_000 # 10 gwei
        max_resume_block_lag: 24h
        max_healthy_lag: 30m
        transaction_batch_size: 500

      # the following defaults must be defined to override with environment
      chain_host: ""
      chain_network: ""
      rpc_host: "https://rpc.bitlayer.org"
      cosmos_grpc_tls: false
      opt_to_retire: false
      solvency_blocks: 0

    eth:
      <<: *default-chain
      chain_id: ETH
      rpc_host: "https://ethereum-sepolia-rpc.publicnode.com"
      max_pending_nonces: 3
      max_gas_tip_percentage: 20
      token_max_gas_multiplier: 3
      aggregator_max_gas_multiplier: 10
      block_scanner:
        <<: *default-block-scanner
        mos: 0x42D64eD9381bF456697b0C360e8acE139F176a80
        max_reorg_rescan_blocks: 96 # 3 epochs
        gas_cache_blocks: 40
        concurrency: 1
        chain_id: ETH
        observation_flexibility_blocks: 20
        max_gas_limit: 100000
        max_swap_gas_limit: 150000
        max_contract_tx_logs: 50
        start_block_height: 9470030
        gas_price_resolution: 1
      mempool_tx_id_cache_size: 0
      scanner_leveldb: *default-leveldb

    bsc:
      disabled: false
      <<: *default-chain
      chain_id: BSC
      rpc_host: "https://bsc-testnet.drpc.org"
      solvency_blocks: 100
      max_pending_nonces: 3
      token_max_gas_multiplier: 3
      aggregator_max_gas_multiplier: 10
      block_scanner:
        <<: *default-block-scanner
        mos: 0x42D64eD9381bF456697b0C360e8acE139F176a80
        max_reorg_rescan_blocks: 600 # 30m
        concurrency: 1
        chain_id: BSC
        gas_cache_blocks: 40
        gas_price_resolution: 1 # 10 gwei
        observation_flexibility_blocks: 80
        max_gas_limit: 100000
        max_swap_gas_limit: 150000
        max_contract_tx_logs: 50
        start_block_height: 69788523
        whitelist_tokens:
          - 0x55d398326f99059fF775485246999027B3197955 # Binance Pegged USDT
          - 0x8AC76a51cc950d9822D68b83fE1Ad97B32Cd580d # Binance Pegged USDC
          - 0xe9e7CEA3DedcA5984780Bafc599bD69ADd087D56 # Binance Pegged BUSD
          - 0x1AF3F329e8BE154074D8769D1FFa4eE058B1DBc3 # Binance Pegged DAI
          - 0x14016E85a25aeb13065688cAFB43044C2ef86784 # True USD
          - 0x2170Ed0880ac9A755fd29B2688956BD959F933F8 # Binance Pegged ETH
          - 0x7130d2A12B9BCbFAe4f2634d864A1Ee1Ce3Ead9c # Binance Pegged BTC
          - 0x570A5D26f7765Ecb712C0924E4De545B89fD43dF # Binance Pegged SOL
          - 0x3EE2200Efb3400fAbB9AacF31297cBdD1d435D47 # Binance Pegged Cardano
          - 0x4B0F1812e5Df2A09796481Ff14017e6005508003 # Trust Wallet Token (TWT)
          - 0x0E09FaBB73Bd3Ade0a17ECC321fD13a19e81cE82 # PancakeSwap (CAKE)
      mempool_tx_id_cache_size: 0
      scanner_leveldb: *default-leveldb